.product-list-photo {
  height: 150px;
  width: 150px;
}

.jumbotron {
  background-image: url("../spring.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative;
}

#jumbobutton {
  margin  : 5px auto;
  display : block;
  width   : 100px;
  position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: auto;
}

li {
    list-style-type: none;
}

#accountTitle {
  font-size: 50px;
}

div.vertical-line{
    width: 1px;
    background-color: lightgray;
    height: 500px;
    float: left; /* Causes the line to float to left of content.
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

.whoAmI {
  clear: both;
}

#navUserProfile {
  font-size: 1.4em;
  color: black;
  padding: 10px;
  text-decoration: none;
  vertical-align: bottom;
}

#logout-btn {
  vertical-align: middle;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 33px;
    padding: 5px 0px 0px 20px;
}
