li {
  list-style-type: none;
}

/* ----- AllProducts ----- */

.product-list-photo {
  height: 150px;
  width: 150px;
}

input.product-selection-checkbox {
  margin-left: 10px
}

.product-selector {
  margin-left: 20px
}

#product-selection-collectionfilter {
  margin-top: 20px;
  margin-bottom: 20px
}

/* ----- SingleProduct ----- */



/* ----- Homepage ----- */

.jumbotron {
  background-image: url("../spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background: contain;
  width: 100%; /* make sure to define width to fill container */
  height: 700px;
}

#jumbobutton {
  margin  : 5px auto;
  display : block;
  width   : 100px;
  position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin: auto;
}

/* ----- User ----- */

#accountTitle {
  font-size: 50px;
}

/* ----- Auth ----- */

div.vertical-line{
    width: 1px;
    background-color: lightgray;
    height: 700px;
    float: left;
  }

#login-comp {
  padding: 80px 40px 40px 80px;
}

#signup-comp {
  padding: 80px 40px 40px 80px;
}

/* ----- NavBar ----- */

#navUserProfile {
  font-size: 1.4em;
  color: black;
  padding: 10px;
  text-decoration: none;
  vertical-align: bottom;
}

#logout-btn {
  vertical-align: middle;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 33px;
    padding: 5px 0px 0px 20px;
}
